<img src="https://i.pinimg.com/originals/ee/2e/24/ee2e246795a13abc1fe01b28776626ef.jpg" alt= "LOGO CAT" width=400 height=400 align = "right">

<br>
<h1><font color="#7F000E" size=5>INSTITUTO GEOFISICO DEL PERU</font></h1>
<h1><font color="#7F000R" size=6> SPARK Y PYTHON CON PYSPARK </font></h1>
<h1><font color="#7F000E" size=4> SEGUNDA PRUEBA Y EJEMPLOS
 </font></h1>
<br>
<br>
<div style="text-align:left">
<font color="#7F000E" size=3> Ing. Alexander Valdez</font><br>
<font color="#7F000E" size=3> Libertad Financiera </font><br>
<font color="#7F000e" size=3> Segunda Clase </font><br>
</div>

---

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

# Creacion de Sesion

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
import pandas as pd
type(pd.read_csv('Book1.csv'))

In [ ]:
pd.read_csv('Book1.csv')

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('Book1.csv')

In [ ]:
df_pyspark

In [ ]:
df_pyspark.show()

In [ ]:
df_pyspark_= spark.read.option('header','true').csv('Book1.csv')

In [ ]:
type(df_pyspark_)

In [ ]:
df_pyspark_.head(3)

In [ ]:
df_pyspark_.printSchema()

En este tutorial vamos a cubrir los siguientes conceptos:
* PySpark Dataframe.
*  Lectura del dataset.
*  Revision de los datatypes de las columnas(Schema).
*  Seleccion de columnas e indexing.
*  Revision de la descripcion y opciones similares de pandas.
*  AÃ±adir columnas.
*  Eliminarn columnas.

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [6]:
spark

## read the dataset

In [18]:
df_pyspark= spark.read.option('header','true').csv('Book1.csv')

In [22]:
df_pyspark=spark.read.option('header','true').csv('Book1.csv')

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.head(3)

[Row(Name='Wendy', age='31', Experience=' 4'),
 Row(Name='Maria Paz', age='1', Experience='1'),
 Row(Name='Alexander', age='34', Experience='10')]

In [25]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [26]:
# SELECCIONAR COLUMNA NOMBRE
df_pyspark.select('Name')

DataFrame[Name: string]

In [27]:
df_pyspark.select(['Name','Experience'])

DataFrame[Name: string, Experience: string]

In [28]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Wendy|         4|
|Maria Paz|         1|
|Alexander|        10|
+---------+----------+

In [29]:
df_pyspark['Name']

Column<'Name'>

In [31]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'string'), ('Experience', 'string')]

In [32]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, Experience: string]

In [34]:
df_pyspark.describe().show()

+-------+---------+-----------------+----------------+
|summary|     Name|              age|      Experience|
+-------+---------+-----------------+----------------+
|  count|        3|                3|               3|
|   mean|     NULL|             22.0|             5.0|
| stddev|     NULL|18.24828759089466|4.58257569495584|
|    min|Alexander|                1|               1|
|    max|    Wendy|               34|               4|
+-------+---------+-----------------+----------------+

### Adding column

In [35]:
df_pyspark.withColumn('Experience After 2 Year',df_pyspark['Experience']+2)

DataFrame[Name: string, age: string, Experience: string, Experience After 2 Year: double]

In [37]:
df_pyspark.withColumn('Experience After 2 Year',df_pyspark['Experience']+2).show()

+---------+---+----------+-----------------------+
|     Name|age|Experience|Experience After 2 Year|
+---------+---+----------+-----------------------+
|    Wendy| 31|         4|                    6.0|
|Maria Paz|  1|         1|                    3.0|
|Alexander| 34|        10|                   12.0|
+---------+---+----------+-----------------------+

In [36]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Wendy| 31|         4|
|Maria Paz|  1|         1|
|Alexander| 34|        10|
+---------+---+----------+

In [38]:
df_pyspark = df_pyspark.withColumn('Experience After 2 Year',df_pyspark['Experience']+2)

In [39]:
df_pyspark.show()

+---------+---+----------+-----------------------+
|     Name|age|Experience|Experience After 2 Year|
+---------+---+----------+-----------------------+
|    Wendy| 31|         4|                    6.0|
|Maria Paz|  1|         1|                    3.0|
|Alexander| 34|        10|                   12.0|
+---------+---+----------+-----------------------+

## DROP THE COLUMNS

In [40]:
df_pyspark = df_pyspark.drop('Experience After 2 year')

In [41]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Wendy| 31|         4|
|Maria Paz|  1|         1|
|Alexander| 34|        10|
+---------+---+----------+

## RENAME THE COLUMNS

In [42]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+
| New Name|age|Experience|
+---------+---+----------+
|    Wendy| 31|         4|
|Maria Paz|  1|         1|
|Alexander| 34|        10|
+---------+---+----------+

# Pyspark Handling Missing Values
* Dropping Columns.
* Dropping Rows.
* Various Parameter in Dropping functionalities.
* Handling Missing Values by Mean, median and mode

In [1]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
df_pyspark= spark.read.csv('test2.csv',header=True,inferSchema=True)

In [8]:
df_pyspark.show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|  Alex|  31|        10| 30000|
| Wendy|  30|         8| 25000|
|   Paz|  29|         4| 20000|
| Boris|  24|         3| 20000|
|  Ciro|  21|         1| 15000|
|Silvia|  23|         2| 18000|
|  Copo|NULL|      NULL| 40000|
|  NULL|  34|        10| 38000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [9]:
## drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [10]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|  Alex| 31|        10| 30000|
| Wendy| 30|         8| 25000|
|   Paz| 29|         4| 20000|
| Boris| 24|         3| 20000|
|  Ciro| 21|         1| 15000|
|Silvia| 23|         2| 18000|
+------+---+----------+------+

In [11]:
## any ==How
df_pyspark.na.drop(how='all').show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|  Alex|  31|        10| 30000|
| Wendy|  30|         8| 25000|
|   Paz|  29|         4| 20000|
| Boris|  24|         3| 20000|
|  Ciro|  21|         1| 15000|
|Silvia|  23|         2| 18000|
|  Copo|NULL|      NULL| 40000|
|  NULL|  34|        10| 38000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [12]:
df_pyspark.na.drop(how='any').show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|  Alex| 31|        10| 30000|
| Wendy| 30|         8| 25000|
|   Paz| 29|         4| 20000|
| Boris| 24|         3| 20000|
|  Ciro| 21|         1| 15000|
|Silvia| 23|         2| 18000|
+------+---+----------+------+

In [14]:
## threshold
df_pyspark.na.drop(how="any",thresh=3).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|  Alex| 31|        10| 30000|
| Wendy| 30|         8| 25000|
|   Paz| 29|         4| 20000|
| Boris| 24|         3| 20000|
|  Ciro| 21|         1| 15000|
|Silvia| 23|         2| 18000|
|  NULL| 34|        10| 38000|
+------+---+----------+------+

In [15]:
## threshold,al menos dos valores no nulos
df_pyspark.na.drop(how="any",thresh=2).show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|  Alex|  31|        10| 30000|
| Wendy|  30|         8| 25000|
|   Paz|  29|         4| 20000|
| Boris|  24|         3| 20000|
|  Ciro|  21|         1| 15000|
|Silvia|  23|         2| 18000|
|  Copo|NULL|      NULL| 40000|
|  NULL|  34|        10| 38000|
+------+----+----------+------+

In [16]:
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|  Alex| 31|        10| 30000|
| Wendy| 30|         8| 25000|
|   Paz| 29|         4| 20000|
| Boris| 24|         3| 20000|
|  Ciro| 21|         1| 15000|
|Silvia| 23|         2| 18000|
|  NULL| 34|        10| 38000|
+------+---+----------+------+

In [21]:
## Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()b

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|  Alex|  31|        10| 30000|
| Wendy|  30|         8| 25000|
|   Paz|  29|         4| 20000|
| Boris|  24|         3| 20000|
|  Ciro|  21|         1| 15000|
|Silvia|  23|         2| 18000|
|  Copo|NULL|      NULL| 40000|
|  NULL|  34|        10| 38000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [23]:
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|          Alex|  31|        10| 30000|
|         Wendy|  30|         8| 25000|
|           Paz|  29|         4| 20000|
|         Boris|  24|         3| 20000|
|          Ciro|  21|         1| 15000|
|        Silvia|  23|         2| 18000|
|          Copo|NULL|      NULL| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      NULL|  NULL|
+--------------+----+----------+------+

In [22]:
df_pyspark.show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|  Alex|  31|        10| 30000|
| Wendy|  30|         8| 25000|
|   Paz|  29|         4| 20000|
| Boris|  24|         3| 20000|
|  Ciro|  21|         1| 15000|
|Silvia|  23|         2| 18000|
|  Copo|NULL|      NULL| 40000|
|  NULL|  34|        10| 38000|
|  NULL|  36|      NULL|  NULL|
+------+----+----------+------+

In [24]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
inputCols=['age','Experience','Salary'],
outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy("mean")

In [25]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|  Alex|  31|        10| 30000|         31|                10|         30000|
| Wendy|  30|         8| 25000|         30|                 8|         25000|
|   Paz|  29|         4| 20000|         29|                 4|         20000|
| Boris|  24|         3| 20000|         24|                 3|         20000|
|  Ciro|  21|         1| 15000|         21|                 1|         15000|
|Silvia|  23|         2| 18000|         23|                 2|         18000|
|  Copo|NULL|      NULL| 40000|         28|                 5|         40000|
|  NULL|  34|        10| 38000|         34|                10|         38000|
|  NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+------+----+----------+------+-----------+------------------+--------------+

In [26]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
inputCols=['age','Experience','Salary'],
outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy("median")

In [27]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|  Alex|  31|        10| 30000|         31|                10|         30000|
| Wendy|  30|         8| 25000|         30|                 8|         25000|
|   Paz|  29|         4| 20000|         29|                 4|         20000|
| Boris|  24|         3| 20000|         24|                 3|         20000|
|  Ciro|  21|         1| 15000|         21|                 1|         15000|
|Silvia|  23|         2| 18000|         23|                 2|         18000|
|  Copo|NULL|      NULL| 40000|         29|                 4|         40000|
|  NULL|  34|        10| 38000|         34|                10|         38000|
|  NULL|  36|      NULL|  NULL|         36|                 4|         20000|
+------+----+----------+------+-----------+------------------+--------------+

# PYSPARK DATAFRAMES
* Filter Operation
*  &, |, ==
*  ~

  FUNCIONAMIENTO DEL FILTRO y operaciones booleanas

In [28]:
from pyspark.sql import SparkSession

In [29]:
spark= SparkSession.builder.appName('dataframe').getOrCreate()

In [30]:
df_pyspark = spark.read.csv('Book2.csv')

In [31]:
df_pyspark.show()

+------+---+----------+------+
|   _c0|_c1|       _c2|   _c3|
+------+---+----------+------+
|  Name|age|Experience|Salary|
|  Alex| 31|        10| 30000|
| Wendy| 30|         8| 25000|
|   Paz| 29|         4| 20000|
| Boris| 24|         3| 20000|
|  Ciro| 21|         3| 15000|
|Silvia| 23|         2| 18000|
+------+---+----------+------+

In [32]:
df_pyspark = spark.read.csv('Book2.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|  Alex| 31|        10| 30000|
| Wendy| 30|         8| 25000|
|   Paz| 29|         4| 20000|
| Boris| 24|         3| 20000|
|  Ciro| 21|         3| 15000|
|Silvia| 23|         2| 18000|
+------+---+----------+------+

### FILTER OPERATIONS

In [33]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|   Paz| 29|         4| 20000|
| Boris| 24|         3| 20000|
|  Ciro| 21|         3| 15000|
|Silvia| 23|         2| 18000|
+------+---+----------+------+

In [34]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
|   Paz| 29|
| Boris| 24|
|  Ciro| 21|
|Silvia| 23|
+------+---+

In [38]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|  Alex| 31|        10| 30000|
| Wendy| 30|         8| 25000|
|   Paz| 29|         4| 20000|
| Boris| 24|         3| 20000|
|  Ciro| 21|         3| 15000|
|Silvia| 23|         2| 18000|
+------+---+----------+------+

In [39]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
| Alex| 31|        10| 30000|
|Wendy| 30|         8| 25000|
+-----+---+----------+------+