<img src="https://i.pinimg.com/originals/ee/2e/24/ee2e246795a13abc1fe01b28776626ef.jpg" alt= "LOGO CAT" width=400 height=400 align = "right">

<br>
<h1><font color="#7F000E" size=5>INSTITUTO GEOFISICO DEL PERU</font></h1>
<h1><font color="#7F000R" size=6> SPARK Y PYTHON CON PYSPARK </font></h1>
<h1><font color="#7F000E" size=4> TERCERA PRUEBA Y EJEMPLOS
 </font></h1>
<br>
<br>
<div style="text-align:left">
<font color="#7F000E" size=3> Ing. Alexander Valdez</font><br>
<font color="#7F000E" size=3> Libertad Financiera </font><br>
<font color="#7F000e" size=3> Tercera Clase </font><br>
</div>

# PySpark GroupBy And Aggregate Functions

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark= SparkSession.builder.appName('Agg').getOrCreate()

In [7]:
spark

In [10]:
df_pyspark= spark.read.csv('Book3.csv',header=True,inferSchema=True)

In [11]:
df_pyspark.show()

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
|  Alex|Data Science| 30000|
|  Alex|         IOT| 25000|
| Wendy|    Big Data| 20000|
|   Paz|    Big Data| 20000|
|  Ciro|Data Science| 15000|
|Silvia|Data Science| 18000|
|Silvia|         IOT| 18000|
|Silvia|    Big Data| 18000|
|  Copo|Data Science| 10000|
|  Copo|    Big Data|  2000|
+------+------------+------+

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [17]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
|  Ciro|      15000|
|  Copo|      12000|
|  Alex|      55000|
|Silvia|      54000|
|   Paz|      20000|
| Wendy|      20000|
+------+-----------+

In [19]:
### Groupby Department which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      43000|
|    Big Data|      60000|
|Data Science|      73000|
+------------+-----------+

In [20]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|    21500.0|
|    Big Data|    15000.0|
|Data Science|    18250.0|
+------------+-----------+

In [21]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [25]:
df_pyspark.agg({'Salary':'Sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     176000|
+-----------+

In [24]:
df_pyspark.groupBy('Name').max().show()

+------+-----------+
|  Name|max(salary)|
+------+-----------+
|  Ciro|      15000|
|  Copo|      10000|
|  Alex|      30000|
|Silvia|      18000|
|   Paz|      20000|
| Wendy|      20000|
+------+-----------+

In [26]:
df_pyspark.show()

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
|  Alex|Data Science| 30000|
|  Alex|         IOT| 25000|
| Wendy|    Big Data| 20000|
|   Paz|    Big Data| 20000|
|  Ciro|Data Science| 15000|
|Silvia|Data Science| 18000|
|Silvia|         IOT| 18000|
|Silvia|    Big Data| 18000|
|  Copo|Data Science| 10000|
|  Copo|    Big Data|  2000|
+------+------------+------+

In [30]:
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
|  Ciro|      15000|
|  Copo|      12000|
|  Alex|      55000|
|Silvia|      54000|
|   Paz|      20000|
| Wendy|      20000|
+------+-----------+

In [32]:
df_pyspark.groupBy('Name').min().show()
# los sueldos minimos por nombre

+------+-----------+
|  Name|min(salary)|
+------+-----------+
|  Ciro|      15000|
|  Copo|       2000|
|  Alex|      25000|
|Silvia|      18000|
|   Paz|      20000|
| Wendy|      20000|
+------+-----------+

In [34]:
df_pyspark.groupBy('Name').max().show()
# los sueldos maximos por nombre

+------+-----------+
|  Name|max(salary)|
+------+-----------+
|  Ciro|      15000|
|  Copo|      10000|
|  Alex|      30000|
|Silvia|      18000|
|   Paz|      20000|
| Wendy|      20000|
+------+-----------+